<div>
	<div ng-show="signupCtrl.registered">
		<h1>Nice one {{signupCtrl.cmdrName}}</h1>
		<p>Please activate your account via the link sent to your inbox</p>
		<p>Failure to do so within 48hrs will result in your account being deleted.</p>
	</div>
	<form ng-submit="signupForm.$valid && signupCtrl.register()" name="signupForm" ng-show="!signupCtrl.registered">
		<h1>Sign-Up</h1>
		<p>Please complete our 7-second form</p>
		<hr>
		<row>
			<div class="small-12 columns">
				<label for="xi-cmdr-name">CMDR Name</label>
			</div>
			<div class="small-12 columns">
				<input type="text" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }" id="xi-cmdr-name" name="xi-cmdr-name" ng-model="signupCtrl.cmdrName" placeholder="CMDR Name" kok-cmdr-name
					required>
				<div ng-messages="signupForm['xi-cmdr-name'].$error" ng-show="signupForm.$submitted || signupForm['xi-cmdr-name'].$dirty">
					<span class="form-error" ng-message="required">This field is required</span>
					<span class="form-error" ng-message="cmdrName">That name is already taken</span>
				</div>
			</div>
		</row>

		<row>
			<div class="small-12 columns">
				<label for="xi-email">E-mail Address</label>
			</div>
			<div class="small-12 columns">
				<input type="email" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }" id="xi-email" name="xi-email" ng-model="signupCtrl.email" placeholder="someone@domain.com" required>
				<div ng-messages="signupForm['xi-email'].$error" ng-show="signupForm.$submitted || signupForm['xi-email'].$dirty">
					<span class="form-error" ng-message="required">This field is required</span>
					<span class="form-error" ng-message="email">Please enter a valid email address</span>
				</div>
			</div>
		</row>

		<row>
			<div class="small-12 columns">
				<label for="xi-confirm-email">Confirm E-mail Address</label>
			</div>
			<div class="small-12 columns">
				<input type="email" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }" id="xi-confirm-email" name="xi-confirm-email" ng-model="signupCtrl.confirmEmail" placeholder="someone@domain.com" kok-email="signupCtrl.email" required>
				<div ng-messages="signupForm['xi-confirm-email'].$error" ng-show="signupForm.$submitted || signupForm['xi-confirm-email'].$dirty">
					<span class="form-error" ng-message="required">This field is required</span>
					<span class="form-error" ng-message="email">Please enter a valid email address</span>
					<span class="form-error" ng-message="kokEmail">Your e-mail addresses don't match</span>
				</div>
			</div>
		</row>

		<div class="row">
			<div class="small-12 columns">
				<label for="xi-password">Password</label>
			</div>
			<div class="small-12 columns">
				<input type="password" id="xi-password" name="xi-password" ng-model="signupCtrl.password" minlength="8" required>
				<p class="help-text">At least 8 characters</p>
				<div ng-messages="signupForm['xi-password'].$error" ng-show="signupForm.$submitted || (signupForm['xi-password'].$dirty && signupForm['xi-password'].$touched)">
					<span class="form-error" ng-message="required">This field is required</span>
					<span class="form-error" ng-message="minlength">Please choose a password longer than 8 characters</span>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="small-12 columns">
				<label for="xi-confirm-password">Confirm password</label>
			</div>
			<div class="small-12 columns">
				<input type="password" id="xi-confirm-password" name="xi-confirm-password" ng-model="signupCtrl.confirmPassword" minlength="8"
					kok-password="signupCtrl.password" required>
				<div ng-messages="signupForm['xi-confirm-password'].$error" ng-show="signupForm.$submitted || (signupForm['xi-confirm-password'].$dirty && signupForm['xi-confirm-password'].$touched)">
					<span class="form-error" ng-message="required">This field is required</span>
					<span class="form-error" ng-message="kokPassword">Your passwords don't match</span>
				</div>
			</div>
		</div>

		<row>
			<div class="small-12 columns">
				<label for="xi-role">Favourite Game Role</label>
			</div>
			<div class="small-12 columns">
				<select name="xi-role" id="xi-role" ng-options="gameRole for gameRole in signupCtrl.gameRoles" ng-model="signupCtrl.gameRole"></select>
			</div>
		</row>

		<row>
			<div class="small-12 columns">
				<label for="xi-platform">PC or XBOX?</label>
			</div>
			<div class="small-12 columns">
				<select name="xi-platform" id="xi-platform" ng-options="platform for platform in signupCtrl.platforms" ng-model="signupCtrl.platform"></select>
			</div>
		</row>

		<row>
			<div class="small-12 columns">
				<label for="xi-platform">Continent</label>
			</div>
			<div class="small-12 columns">
				<select name="xi-continent" id="xi-continent" ng-options="continent for continent in signupCtrl.continents | orderBy: 'toString()'"
					ng-model="signupCtrl.continent"></select>
			</div>
		</row>

		<row>
			<div class="small-12 columns">
				<label for="xi-reason">Why are you interested in joining?</label>
				<small>
				Optional. This is not used to accept/reject CMDRs it is 
				purely so we can focus on the activities people tell us they 
				joined us for, keep it as short or long or non-existent as 
				you want!
			</small>
			</div>
			<div class="small-12 columns">
				<textarea id="xi-reason" name="xi-reason" ng-model="signupCtrl.reason" placeholder="I like to have friends" maxlength="1000">
			</textarea>
				<p class="help-text">Max 1,000 characters</p>
				<div ng-messages="signupForm['xi-reason'].$error">
					<span class="form-error" ng-message="maxlength">Please limit your response to 1,000 characters</span>
				</div>
			</div>
		</row>

		<row>
			<div class="small-12 columns">
				<button type="submit" class="button" ng-disabled="signupForm.$invalid">Submit</button>
			</div>
		</row>
	</form>
</div>