<section>
    <!--headers-->
    <div ng-show="LoginCtrl.user">
        <h1>Hello.</h1>
        <p>Welcome back {{LoginCtrl.user.username}}</p>
    </div>
    <div ng-show="LoginCtrl.recoverySubmitted">
        <h1>Password requested.</h1>
        <p>An e-mail has been sent to the registered address. Please check your inbox for instructions.</p>
        <button class="button" ng-click="LoginCtrl.recoverySubmitted=false">Retry Login</button>
    </div>

    <!--main login form-->
    <form ng-submit="loginForm.$valid && LoginCtrl.authenticate()" name="loginForm" ng-show="!LoginCtrl.authentication.success && !LoginCtrl.passwordRecovery && !LoginCtrl.recoverySubmitted">
        <h1>And you are?</h1>
        <p>Enter your login details below</p>
        <hr>
        <div class="row">
            <div class="small-12 medium-4 large-3 columns">
                <label class="text-right middle" for="username">CMDR Name:</label>
            </div>
            <div class="small-12 medium-8 large-9 columns">
                <input type="text" id="cmdrName" name="cmdrName" placeholder="CMDR Name" ng-model="LoginCtrl.cmdrName" required>
                <div ng-messages="loginForm['cmdrName'].$error" ng-show="loginForm.$submitted || (loginForm.cmdrName.$dirty && loginForm.cmdrName.$touched)">
                    <span ng-message="required" class="form-error">This field is required</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-12 medium-4 large-3 columns">
                <label class="text-right middle" for="password">Password:</label>
            </div>
            <div class="small-12 medium-8 large-9 columns">
                <input type="password" id="password" name="password" placeholder="Password" ng-model="LoginCtrl.password" required>
                <span class="form-error" ng-show="loginForm['password'].$error.required && (loginForm.$submitted || (loginForm.password.$dirty && loginForm.password.$touched))">This field is required</span>
                <div ng-messages="LoginCtrl.authentication" ng-show="loginForm.$submitted || (loginForm.password.$dirty && loginForm.password.$touched)">
                    <span class="form-error" ng-message="failure">Username or Password incorrect. Please try again.</span>
                    <span class="form-error" ng-message="error">System error. Please try again later or contact an administrator.</span>
                </div>
            </div>
        </div>
        <div class="row align-middle">
            <div class="shrink columns">
                <button type="submit" class="button" ng-disabled="loginForm.$invalid">Submit</button>
            </div>
            <div class="columns">
                <kok-ajax-loader state="LoginCtrl.loginState"></kok-ajax-loader>
            </div>
        </div>

        <div class="row">
            <div class="small-12 columns">
                <p><a ng-click="LoginCtrl.passwordRecovery = true"><small>Forgot Password</small></a></p>
            </div>
        </div>
    </form>

    <!-- forgotten password form -->
    <form ng-submit="recoveryForm.$valid && LoginCtrl.recoverPassword()" name="recoveryForm" ng-show="!LoginCtrl.authentication.success && LoginCtrl.passwordRecovery">
        <h1>Oops!</h1>
        <p>To recover your password, please submit the below form</p>
        <hr>
        <div class="row">
            <div class="small-12 medium-4 large-3 columns">
                <label class="text-right middle" for="username">CMDR Name:</label>
            </div>
            <div class="small-12 medium-8 large-9 columns">
                <input type="text" id="recCmdrName" name="recCmdrName" placeholder="CMDR Name" ng-model="LoginCtrl.recCmdrName" required>
                <div ng-messages="recoveryForm['recCmdrName'].$error" ng-show="recoveryForm.$submitted || (recoveryForm.recCmdrName.$dirty && recoveryForm.recCmdrName.$touched)">
                    <span ng-message="required" class="form-error">This field is required</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="small-12 columns">
                <button type="submit" class="button" ng-disabled="recoveryForm.$invalid">Submit</button>
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns">
                <p><a href="" ng-click="LoginCtrl.passwordRecovery=false"><small>Nevermind, remembered it now</small><a></p>
                </div>
            </div>
    </form>
    
</section>