<form ng-submit="uploadForm.$valid" name="uploadForm">
    <div class="row">
        <div class="small-12 medium-5 large-5 columns">
            <input type="text" name="title" ng-model="myActionsCtrl.title" placeholder="Image Title" required>
            <!--<div ng-messages="uploadForm['title'].$error" ng-show="uploadForm.$submitted || (uploadForm.title.$dirty && uploadForm.title.$touched)">
                <span class="form-error" ng-message="required">This field is required</span>
            </div>-->
        </div>
        <div class="small-12 medium-3 large-3 columns">
            <input type="text" name="file" placeholder="File Name" value="{{myActionsCtrl.file.name}} {{myActionsCtrl.errfile.name}} {{myActionsCtrl.errfile.error}}"
                readonly required>
                <!--<div ng-messages="uploadForm['file'].$error" ng-show="uploadForm.$submitted || (uploadForm.title.$dirty && uploadForm.title.$touched)">
                    <span class="form-error" ng-message="required">Select an image file</span>
                </div>-->
        </div>
        <div class="small-6 medium-2 large-2 columns">
            <button class="button" type="file" ng-model="myActionsCtrl.image" ngf-select="myActionsCtrl.browseImage($file, $invalidFiles)"
                accept="image/*" ngf-max-size="2MB">Browse</button>
        </div>
        <div class="small-6 medium-2 large-2 columns">
            <button type="submit" class="button" ng-click="myActionsCtrl.uploadImage()">Upload</button>
        </div>
    </div>
</form>
<div class="row">
    <div class="small-12 medium-12 large-12 columns">
        <img ngf-src="myActionsCtrl.image" ngf-resize="{width: 200, height: 200, quality: 0.9}">
    </div>
</div>