<div class="row small-up-1 large-up-2">
	<div class="media-object column" ng-repeat="member in ProfilesCtrl.members | orderBy:['-level','username']">
		
		<div class="media-object-section middle">
			<div class="thumbnail profile-thumbnail">
				<img class="profile-images" ng-src="{{member.avatar}}" alt="Avatar for {{member.name}}" title="{{member.name}}">
			</div>
		</div>

		<div class="media-object-section member-profile">
			<h3>{{member.displayname}}</h3>

			<ul class="profile-list">
				<li><strong>Favourite Activity:</strong> {{member.gameRole}}</li>
				<li><strong>Ship:</strong> {{member.shipName}}</li>
				<li>Wings:<img ng-src="{{ProfilesCtrl.wingPics[wing.name].src}}" alt="{{ProfilesCtrl.wingPics[wing.name].src}}" ng-repeat="wing in member.wings" title="{{wing.name}}" class="profileWingImg"></li>
				<li class="text-justify"><strong>Bio:</strong> {{member.bio}}</li>
			</ul>
		</div>

	</div>
</div>