@import 'foundation-imports';
@import 'foundation-icons';
$primary-color: #ffffff;
$secondary-color: #000000;
$header-font: 'Rubik', sans-serif;

body,html {
  background-color: $secondary-color;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $header-font;
  text-transform: uppercase;
}

.black {
  background-color: $secondary-color;
  color: $primary-color;
  padding: 4em 0;
  position: relative;
  &.video {
    padding: 0;
    canvas {
      width: 100%;
    }
  }
  
  .mute {
    position: absolute;
    top: 7%;
    right: 5%;
    font-size:2em;
    color: white;
    transition: transform 0.3s;
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }

  .vid-controls {
    display: inline-block;
    position: absolute;
    top: 7%;
    left: 5%;
    font-size:2em;
    color: white;
    [class^="fi-"] {
      display: inline-block;
      transition: transform 0.3s;
      &:hover {
        cursor: pointer;
        transform: scale(1.1);
      }
    }
  }
}

.black-white-stripes {
  width: 100%;
  background-image:url(../images/black-horizontal-stripes.png);
  position:absolute;
  top:0;
  bottom: 0;
  left:0;
  opacity: 0.5;
}

.white {
  background-color: $primary-color;
  color: $secondary-color;
  padding: 4em 0;
}

video {
  width: 100%;
}