@import 'foundation-imports';
@import 'foundation-icons';
$primary-color: #ffffff;
$secondary-color: #000000;
$header-font: 'Rubik', sans-serif;

body,html {
  height: 100%;
  background-color: $secondary-color;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $header-font;
  text-transform: uppercase;
}

.black {
  background-color: $secondary-color;
  color: $primary-color;
  padding: 4em 0;
  position: relative;
  height: 100%;
  &.video {
    padding: 0;
    canvas {
      width: 100%;
      height: 100%;
    }
  }
  .mute {
    position: absolute;
    top: 7%;
    right: 5%;
    font-size:2em;
    color: white;
    &:hover {
      cursor: pointer;
    }
  }
}

.black-white-stripes {
  width: 100%;
  height: 100%;
  background-image:url(../images/black-horizontal-stripes.png);
  position:absolute;
  top:0;
  left:0;
}

.white {
  background-color: $primary-color;
  color: $secondary-color;
  padding: 4em 0;
}

video {
  width: 100%;
}