@import 'foundation-imports';
$primary-color: #ffffff;
$secondary-color: #000000;
$header-font: 'Rubik', sans-serif;


body {
  background-color: $primary-color;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $header-font;
  text-transform: uppercase;
}

.black {
  background-color: $secondary-color;
  color: $primary-color;
  padding: 4em 0;
}

.white {
  background-color: $primary-color;
  color: $secondary-color;
  padding: 4em 0;
}