<div>
    <ng-image-gallery></ng-image-gallery>
    <!--<div class="row small-up-2 medium-up-4 large-up-8">
        <div class="columns" ng-repeat="image in GalleryCtrl.gallery">
            <div class="thumbnail">
                <img class="gallery-img" ng-src="{{image.thumbUrl}}" alt="{{image.alt}}" ng-click="GalleryCtrl.selectImage(image)" data-open="gallery-modal">
            </div>
        </div>
    </div>

    <kok-modal modal-id="gallery-modal">
        <div class="row align-center">
            <h4>{{GalleryCtrl.selectedImage.title}}</h2>
            <img class="gallery-modal-img" ng-src="{{GalleryCtrl.selectedImage.url}}" alt="{{GalleryCtrl.selectedImage.alt}}">
        </div>
    </kok-modal>
    <script>
        $('#gallery-modal').foundation();
    </script>-->
</div>