@font-face {
    font-family: Waukegan;
    src: url('../../fonts/waukegan/waukegan_ldo-webfont.woff2') format('woff2'),
    url('../../fonts/waukegan/waukegan_ldo-webfont.woff') format('woff'),
    url('../../fonts/waukegan/waukegan_ldo-webfont.ttf') format('truetype'),
    url('../../fonts/waukegan/waukegan_ldo-webfont.svg') format('svg');
    font-weight: normal;
    font-variant: normal;
}

@font-face {
    font-family: Waukegan;
    src: url('../../fonts/waukegan/waukegan_ldo_bold-webfont.woff2') format('woff2'),
    url('../../fonts/waukegan/waukegan_ldo_bold-webfont.woff') format('woff'),
    url('../../fonts/waukegan/waukegan_ldo_bold-webfont.ttf') format('truetype'),
    url('../../fonts/waukegan/waukegan_ldo_bold-webfont.svg') format('svg');
    font-weight: bold;
    font-variant: normal;
}

@font-face {
    font-family: Waukegan-Extended;
    src: url('../../fonts/waukegan/waukegan_ldo_extended-webfont.woff2') format('woff2'),
    url('../../fonts/waukegan/waukegan_ldo_extended-webfont.woff') format('woff'),
    url('../../fonts/waukegan/waukegan_ldo_extended-webfont.ttf') format('truetype'),
    url('../../fonts/waukegan/waukegan_ldo_extended-webfont.svg') format('svg');
    font-weight: normal;
    font-variant: normal;
}

@font-face {
    font-family: Waukegan-Extended;
    src: url('../../fonts/waukegan/waukegan_ldo_extended_bold-webfont.woff2') format('woff2'),
    url('../../fonts/waukegan/waukegan_ldo_extended_bold-webfont.woff') format('woff'),
    url('../../fonts/waukegan/waukegan_ldo_extended_bold-webfont.ttf') format('truetype'),
    url('../../fonts/waukegan/waukegan_ldo_extended_bold-webfont.svg') format('svg');
    font-weight: bold;
    font-variant: normal;
}