@import 'foundation-imports';
@import 'foundation-icons';


//typography
h1,h2,h3,h4,h5,h6 {
  text-transform: uppercase;
}

//link rule exceptions 
nav {
  &.sticky {
    z-index: 9999;
  }
  a {
    text-decoration: none;
    &:hover {
      color: scale-color($anchor-color, $lightness: -30%)
    }
  }
}

cite a, .white cite a, a.button {
  text-decoration: none;
}

.black a.button, .white a.button {
  color: $black;
}

//topbar

.top-bar ul {
  background-color: transparent;
}

.selected {
  -moz-box-shadow: 0px -2px $white inset;
  -webkit-box-shadow: 0px -2px $white inset;
  box-shadow: 0px -2px $white inset;
}

//black and white background striped classes

.white,.black {
  background-color: $white;
  color: $black;
  padding: 4em 0;
  min-height: 100vh;
  &:first-child {
    min-height: 80vh;
  }
  &.full-height:first-child {
    min-height: 100vh;
  }
  >.row:not(.shrink) {
    min-height: 100vh;
  }
  >.row:first-child {
    min-height: 80vh;
  }
  >.row.full-height:first-child {
    min-height: 100vh;
  }
  &.video {
    min-height: 0;
  }
  a { 
    color: $anchor-alt-color;
  }
}

.black {
  background-color: $black;
  color: $white;
  a { 
    color: $anchor-color;
  }
}

//header video handling

.video {
  padding: 0;
  position: relative;
  video {
    width: 100%;
  }
}

.mute {
  position: absolute;
  top: 7%;
  right: 5%;
  font-size:2em;
  color: $white;
  transition: transform 0.3s;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

.vid-controls {
  display: inline-block;
  position: absolute;
  top: 7%;
  left: 5%;
  font-size:2em;
  color: $white;
  [class^="fi-"] {
    display: inline-block;
    transition: transform 0.3s;
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }
}

.black-white-stripes {
  width: 100%;
  background-image:url(../images/black-horizontal-stripes.png);
  position:absolute;
  top:0;
  bottom: 0;
  left:0;
  opacity: 0.5;
}

.kok-logo {
  margin-bottom: 2em;
}

//header image classes
@import 'header-images';

//discord widget

.discord-avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  transition: filter 0.3s;
}

.discord-gallery {
  list-style: none;
  li {
    display: inline-block;
    margin: 2px;
  }
}

//modal

article.reveal,.reveal-overlay {
  z-index: 99999;
  color: $black;
  a {
    color: $black;
  }
}

//member profiles

.profile-images {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.profile-thumbnail {
  border-radius: 50%;
}

.profile-list {
  list-style: none;
}

//wing

.wing-img {
  padding: 0 15% 4em;
}

//gallery

.gallery-img {
  cursor: pointer;
}

.gallery-modal-img {
  max-height: 80vh; 
}

article#gallery-modal {
  width: auto;
}

//footer

.footer {
  color: $white;
  margin: 2em;
}

//forms

.black form {
  color: $white;
  label {
    color: $white;
  }
  
  .help-text {
    color: $white;
  }

  .ng-invalid.ng-dirty.ng-touched {
    color: $white;  
    $background: $input-background-invalid;
    $background-alpha: 0.6;
    
    background-color: rgba($background, $background-alpha);
    border-color: $background;
  }
}

form {
  .ng-invalid.ng-dirty.ng-touched {
    $background: $input-background-invalid;
    $background-alpha: 0.1;
    
    background-color: rgba($background, $background-alpha);
    border-color: $background;
  }
  span.form-error {
      display: block;
    }

  textarea {
    height: 8em;
  }
}

.ajaxLoader {
  vertical-align: top;
  display: inline-block;
  .loader {

  }
  .success {
    color: lawngreen;
  }
  .fail {
    color: red;
  }

}
//ngCloak
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

@import 'admin-page';