@import 'foundation-imports';
@import 'foundation-icons';
@import 'fonts';
//typography

body {
    font-family: Waukegan-Extended, Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: Waukegan-Extended, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
}

//link rule exceptions 
nav {
    &.sticky {
        z-index: 9999;
    }
    a {
        text-decoration: none;
        &:hover {
            color: scale-color($anchor-color, $lightness: -30%)
        }
        &:focus {
            color: $anchor-color;
        }
    }
}

cite a,
.white cite a,
a.button {
    text-decoration: none;
}

.black a.button,
.white a.button {
    color: $black;
}

@import 'nav-bar';
@import 'message-bar';
//black and white background striped classes
.white,
.black {
    background-color: $white;
    color: $black;
    padding: 4em 0;
    min-height: 100vh;
    &:first-child {
        min-height: 80vh;
    }
    &.full-height:first-child {
        min-height: 100vh;
    }
    >.row:not(.shrink) {
        min-height: 100vh;
    }
    >.row:first-child {
        min-height: 80vh;
    }
    >.row.full-height:first-child {
        min-height: 100vh;
    }
    &.video {
        min-height: 0;
    }
    a {
        color: $anchor-alt-color;
    }
}

.black {
    background-color: $black;
    color: $white;
    a {
        color: $anchor-color;
    }
    label {
        color: $white;
    }
}

//header video handling
.video {
    padding: 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    video {
        width: 100%;
    }
}

.mute {
    position: absolute;
    top: 7%;
    right: 5%;
    font-size: 2em;
    color: $white;
    transition: transform 0.3s;
    &:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
}

.vid-controls {
    display: inline-block;
    position: absolute;
    top: 7%;
    left: 5%;
    font-size: 2em;
    color: $white;
    [class^="fi-"] {
        display: inline-block;
        transition: transform 0.3s;
        &:hover {
            cursor: pointer;
            transform: scale(1.1);
        }
    }
}

.black-white-stripes {
    width: 100%;
    background-image: url(../images/black-horizontal-stripes.png);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
}

.bw {
    background-image: url(../images/black-horizontal-stripes.png);
}

.kok-logo {
    margin-bottom: 2em;
}

//header image classes
@import 'header-images';
//discord widget
.discord-avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transition: filter 0.3s;
}

.discord-gallery {
    list-style: none;
    li {
        display: inline-block;
        margin: 2px;
    }
}

//modal
article.reveal,
.reveal-overlay {
    z-index: 99999;
    color: $black;
    a {
        color: $black;
    }
}

//member profiles
.profile-images {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.profile-thumbnail {
    border-radius: 50%;
}

.profile-list {
    list-style: none;
}

.profileWingImg {
    width: 30px;
}

//wing
.wing-img {
    padding: 0 15% 4em;
}

//gallery
.gallery-img {
    cursor: pointer;
}

.gallery-modal-img {
    max-height: 80vh;
}

article#gallery-modal {
    width: auto;
}

.upload-image {
    padding: 0;
    min-height: 0;
    &:first-child {
        min-height: 0;
    }
}

//footer
.footer {
    color: $white;
    margin: 2em;
}

//forms
.black form {
    color: $white;
    label {
        color: $white;
    }
    .help-text {
        color: $white;
    }
    .ng-invalid.ng-dirty.ng-touched {
        color: $white;
        $background: $input-background-invalid;
        $background-alpha: 0.6;
        background-color: rgba($background, $background-alpha);
        border-color: $background;
    }
}

form {
    .ng-invalid.ng-dirty.ng-touched {
        $background: $input-background-invalid;
        $background-alpha: 0.1;
        background-color: rgba($background, $background-alpha);
        border-color: $background;
    }
    span.form-error {
        display: block;
    }
    textarea {
        height: 8em;
    }
}

//ajax spinner
.ajax-spinner {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 1);
    border-top: 3px solid $black;
    border-right: 3px solid $black;
    animation: spinner 1s linear infinite;
}

.ajax-spinner-container {
    vertical-align: top;
    display: inline-block;
    margin-bottom: 1rem;
    .success {
        color: lawngreen;
    }
    .fail {
        color: red;
    }
}

//ngCloak
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}

@import 'admin-page';
//ng-image-gallery
@import 'ng-image-gallery.min.css';
.ng-image-gallery .ng-image-gallery-modal .ng-image-gallery-content .destroy-icons-container .ext-url:before {
    background-image: url(../images/image_gallery/icons/external-link.svg);
}

.ng-image-gallery .ng-image-gallery-modal .ng-image-gallery-content .destroy-icons-container .close:before {
    background-image: url(../images/image_gallery/icons/close.svg);
}

.ng-image-gallery .ng-image-gallery-modal .ng-image-gallery-content .prev {
    left: 0px;
    background-image: url(../images/image_gallery/icons/prev.svg);
}

.ng-image-gallery .ng-image-gallery-modal .ng-image-gallery-content .next {
    right: 0px;
    background-image: url(../images/image_gallery/icons/next.svg);
}

.ng-image-gallery.inline .ng-image-gallery-modal .ng-image-gallery-content .destroy-icons-container .ext-url:before {
    background-image: url(../images/image_gallery/icons/external-link-inline.svg);
}

.ng-image-gallery.inline .ng-image-gallery-modal .ng-image-gallery-content .prev {
    background-image: url(../images/image_gallery/icons/prev-inline.svg);
}

.ng-image-gallery.inline .ng-image-gallery-modal .ng-image-gallery-content .next {
    background-image: url(../images/image_gallery/icons/next-inline.svg);
}

.ng-image-gallery .ng-image-gallery-thumbnails .thumb {
    width: 180px;
    height: 130px;
    border-radius: 3px;
    background-size: cover;
    background-position: center center;
    cursor: pointer;
}

.ng-image-gallery {
    margin: 0 50px;
}

.thumb:hover {
    box-shadow: 0 0 6px 1px hsla(0, 0%, 100%, .5);
    transition: box-shadow .2s ease-out;
}

.ng-image-gallery .ng-image-gallery-thumbnails .thumb:not(:last-child) {
    margin-right: 15px;
    margin-bottom: 15px;
}

//GalleryDash
.imgselected {
    box-shadow: 0 0 6px 3px hsl(240, 100%, 40%);
    transition: box-shadow .2s ease-out;
}

.dashboard a.button {
    color: $black;
}

.dashboard {
    background-color: $white;
    color: $black;
    padding: 4em 0;
    a {
        color: $anchor-alt-color;
    }
}