<div ng-show="ResetPasswordCtrl.allowReset">
    <h1>Reset Password</h1>
    <form ng-submit="passwordResetForm.$valid && ResetPasswordCtrl.setPassword()" name="passwordResetForm" ng-show="ResetPasswordCtrl.allowReset">
        <div class="row">
            <div class="small-12 columns">
                <label for="xi-password">Password</label>
            </div>
            <div class="small-12 columns">
                <input type="password" id="xi-password" name="xi-password" ng-model="ResetPasswordCtrl.password" minlength="8" required>
                <p class="help-text">At least 8 characters</p>
                <div ng-messages="passwordResetForm['xi-password'].$error" ng-show="passwordResetForm.$submitted || (passwordResetForm['xi-password'].$dirty && passwordResetForm['xi-password'].$touched)">
                    <span class="form-error" ng-message="required">This field is required</span>
                    <span class="form-error" ng-message="minlength">Please choose a password longer than 8 characters</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="small-12 columns">
                <label for="xi-confirm-password">Confirm password</label>
            </div>
            <div class="small-12 columns">
                <input type="password" id="xi-confirm-password" name="xi-confirm-password" ng-model="ResetPasswordCtrl.confirmPassword" minlength="8"
                    kok-password="ResetPasswordCtrl.password" required>
                <div ng-messages="passwordResetForm['xi-confirm-password'].$error" ng-show="passwordResetForm.$submitted || (passwordResetForm['xi-confirm-password'].$dirty && passwordResetForm['xi-confirm-password'].$touched)">
                    <span class="form-error" ng-message="required">This field is required</span>
                    <span class="form-error" ng-message="kokPassword">Your passwords don't match</span>
                </div>
            </div>
        </div>

        <row>
            <div class="small-12 columns">
                <button type="submit" class="button" ng-disabled="passwordResetForm.$invalid">Submit</button>
                <kok-ajax-loader state="ResetPasswordCtrl.resetState"></kok-ajax-loader>
            </div>
        </row>
    </form>
</div>

<div ng-show="!ResetPasswordCtrl.allowReset">
    <h1>Error</h1>
    <p>Sorry but there's a problem</p>
</div>